@model WebApp.ViewModels.SetPasswordViewModel
@{
    ViewBag.Title = "Wachtwoord instellen";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Project Management Systeem</h2>
<h4>@ViewBag.Title</h4>

<form method="post" asp-action="SetPassword" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.userId)

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.NewPassword) })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "sr-only" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">Wachtwoord instellen</button>
    </div>
</form>